@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<!-- Button trigger modal -->
<div class="Info-Page">
    <iframe class="info-image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13447.355600405817!2d74.08844799999999!3d32.5838202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f1b2938ed976f%3A0xdbaed8442a65d05c!2sZahoor%20Elahi%20Stadium!5e0!3m2!1sen!2s!4v1700139402663!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="info-details">
        <div class="hours-details">
            <div class="details-headings">
                <img class="icon-info" src="~/images//Untitled-design-14.png"/>
                <h6>Opening Hours</h6>

            </div>
            <div class="detail-information">
                <p>Monday - Thursday</p>
                <p class="fw-bold">10:00 - 22:00</p>
            </div>
            <div class="detail-information">
                <p>Friday</p>
                <p class="fw-bold">
                    10:00 - 23:00
                </p>
            </div>
            <div class="detail-information">
                <p >Saturday</p>
                <p class="fw-bold">12:00 - 23:00</p>
            </div>
            <div class="detail-information">
                <p>Sunday</p>
                <p class="fw-bold">
                    12:00 - 22:00
                </p>
            </div>
                </div>

        <div class="hours-details">
            <div class="details-headings">
                <img class="icon-info" src="~/images/icons8-pickup-50.png" />
                <h6>Pickup</h6>
            </div>
            <p>Same as opening hours</p>
        </div>

        <div class="hours-details">
            <div class="details-headings">
                <img class="icon-info" src="~/images/icons8-language-48.png" />
                <h6>Language</h6>
            </div>
            <p>English</p>
        </div>
        <div class="hours-details">
            <div class="details-headings">
                <img class="icon-info" src="~/images/icons8-payment-50.png" />
                <h6>Payment Method</h6>
            </div>
            <p>Cash( Pickup )</p>
            <p>Card at pickup counter( Pickup )</p>

        </div>

        <div class="hours-details">
            <div class="details-headings">
                <img class="icon-info" src="~/images//Untitled-design-13.png" />
                <h6>Address</h6>
            </div>
            <p>
                123 Main Street,

                Islamabad, Pakistan
            </p>
        </div>
        <div class="hours-details">
            <div class="details-headings">
                <img class="icon-info" src="~/images//Untitled-design-16.png" />
                <h6>Phone</h6>
            </div>
            <p>+47 67 90 14 76</p>
        </div>
    </div>


</div>
